#moziNev{
    text-align: center;
    color: firebrick;
}

#korOsztaly{
    color: rgb(19, 209, 114);
    font-size:  30px;
    text-align: center;
}

.kartya{
    padding: 5px;
    background-color: rgb(75, 53, 53);
}


.kozep{
    text-align: center;
    color:rgb(241, 36, 0) ;
}

.balra{
    float: left;
    margin-right: 50px;
}

.jobbra{
    float: right;
    margin-left: 50px;
    text-align: left;
}

.jobbraSzoveg{
    text-align: right;
}

.kepBalra{
    padding-left: 20px;
}

.keretes{
    border: 2px solid black;
    height: auto;
    overflow: hidden;
    background-color: rgb(153, 86, 86);
    padding: 10px;
}

.keretesJobb{
    border: 2px solid black;
    text-align: right;
    height: auto;
    overflow: hidden;
    background-color: rgb(109, 187, 86);
    padding: 10px;
}

p{
    font-size: 140%;
    text-align: justify;
}

body{
    background-color:rgb(63, 172, 79);
}

img{
    width: 259px;
    height: 384px
}